@model IEnumerable<AdventureWorks.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<div class="container">
    <div class="row">
        @foreach (var item in Model) {
        
            <div class="col-3 item-box shadow m-3 rounded">
                <a asp-action="Details" asp-route-id="@item.Id">
                <h3>
                    @Html.DisplayFor(modelItem => item.Name)
                </h3>
                </a>
                @*<p>
                    @Html.DisplayFor(modelItem => item.Color)
                </p>*@
                <h4>
                    $@Html.DisplayFor(modelItem => item.Price)
                </h4>
                    <img src="https://i5.walmartimages.com/seo/Hyper-Bicycles-Men-s-29-Explorer-Dual-Suspension-Mountain-Bike-Red_d885e90f-d5fa-4c8d-b79a-801ed6ae5bb2.38883fa729039ce5aaf1ffd4395718b7.jpeg" class="construction-img" />

            </div>
         
        }

    </div>

</div>





<!--<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PhotoURL)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PhotoURL)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>-->
